.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;

    input-component {
        // margin-right: 10px;
    }
}

input,
label,
textarea {
    box-sizing: border-box;
    width: 100% !important;
    // background-color: black !important
}

textarea-component,
input-component {
    &.w-100 {
        width: 100% !important;
        width: -webkit-fill-available !important;
    }
}